<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <div class="container">
        <h1>CRUD App</h1>
        <div class="form-container">
            <form class="form">
                <h2>Add Task</h2>
                <input class="input" type="text" placeholder="Enter task">
                <button>Add</button>
            </form>
        </div>
        <div class="task-list">
            <h2>Task List</h2>
            <div class="tasks">
                <!-- js handles this -->
            </div>
        </div>
    </div>

    <script src="/static/script.js"></script>


</body>

</html>